In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("MW-NIFTY-50-08-Aug-2022.csv")

In [4]:
df.head()

,SYMBOL \r\n,OPEN \r\n,HIGH \r\n,LOW \r\n,PREV. CLOSE \r\n,LTP \r\n,CHNG \r\n,%CHNG \r\n,VOLUME \r\n(shares),VALUE,52W H \r\n,52W L \r\n,365 D % CHNG \r\n 30-Jul-2021,30 D % CHNG \r\n 01-Jul-2022
0,NIFTY 50,"17,401.50","17,485.90","17,359.75","17,397.50","17,471.65",74.15,0.43,118946841,"80,122,442,049.12","18,604.45","15,183.40",7.14,7.26
1,COALINDIA,209.50,214.70,207.05,208.45,214.00,5.55,2.66,6757560,"1,426,791,218.40",217.25,132.75,42.68,9.83
2,HINDALCO,414.90,421.00,414.00,410.80,420.50,9.70,2.36,3978674,"1,662,687,864.60",636.00,308.95,-7.09,14.89
3,M&M,"1,245.00","1,268.65","1,242.65","1,235.90","1,262.95",27.05,2.19,2598785,"3,274,728,978.50","1,278.50",671.15,62.99,9.02
4,NTPC,155.50,159.80,154.95,155.60,159.00,3.40,2.19,5948094,"940,869,508.92",166.35,111.95,32.26,8.28

In [5]:
df.columns

Index(['SYMBOL \r\n', 'OPEN \r\n', 'HIGH \r\n', 'LOW \r\n', 'PREV. CLOSE \r\n',
       'LTP \r\n', 'CHNG \r\n', '%CHNG \r\n', 'VOLUME \r\n(shares)', 'VALUE ',
       '52W H \r\n', '52W L \r\n', '365 D % CHNG \r\n 30-Jul-2021',
       '30 D % CHNG \r\n 01-Jul-2022'],
      dtype='object')

In [6]:
# df.rename(columns={'old_col':'new_col', 'old_col_2':'new_col_2'}, inplace=True)
df.rename(columns={'SYMBOL \r\n' : 'SYMBOL', 'OPEN \r\n' : 'OPEN', 'HIGH \r\n' : 'HIGH', 'LOW \r\n' : 'LOW',
                   'PREV. CLOSE \r\n' : 'PREV. CLOSE', 'LTP \r\n' : 'LTP', 'CHNG \r\n' : 'CHNG', '%CHNG \r\n' : '%CHNG',
                   'VOLUME \r\n(shares)' : 'VOLUME(shares)', 'VALUE ' : 'VALUE', '52W H \r\n' : '52WH',
                   '52W L \r\n' : '52WL', '365 D % CHNG \r\n 30-Jul-2021' : '365D %CHNG 30Jul-2021', 
                   '30 D % CHNG \r\n 01-Jul-2022' : '30D %CHNG 01Jul-2022'}, inplace=True)

In [7]:
df.columns

Index(['SYMBOL', 'OPEN', 'HIGH', 'LOW', 'PREV. CLOSE', 'LTP', 'CHNG', '%CHNG',
       'VOLUME(shares)', 'VALUE', '52WH', '52WL', '365D %CHNG 30Jul-2021',
       '30D %CHNG 01Jul-2022'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SYMBOL                 51 non-null     object
 1   OPEN                   51 non-null     object
 2   HIGH                   51 non-null     object
 3   LOW                    51 non-null     object
 4   PREV. CLOSE            51 non-null     object
 5   LTP                    51 non-null     object
 6   CHNG                   51 non-null     float64
 7   %CHNG                  51 non-null     float64
 8   VOLUME(shares)         51 non-null     int64
 9   VALUE                  51 non-null     object
 10  52WH                   51 non-null     object
 11  52WL                   51 non-null     object
 12  365D %CHNG 30Jul-2021  51 non-null     float64
 13  30D %CHNG 01Jul-2022   51 non-null     float64
dtypes: float64(4), int64(1), object(9)
memory usage: 5.7+ KB

In [9]:
df.head()

,SYMBOL,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CHNG,%CHNG,VOLUME(shares),VALUE,52WH,52WL,365D %CHNG 30Jul-2021,30D %CHNG 01Jul-2022
0,NIFTY 50,"17,401.50","17,485.90","17,359.75","17,397.50","17,471.65",74.15,0.43,118946841,"80,122,442,049.12","18,604.45","15,183.40",7.14,7.26
1,COALINDIA,209.50,214.70,207.05,208.45,214.00,5.55,2.66,6757560,"1,426,791,218.40",217.25,132.75,42.68,9.83
2,HINDALCO,414.90,421.00,414.00,410.80,420.50,9.70,2.36,3978674,"1,662,687,864.60",636.00,308.95,-7.09,14.89
3,M&M,"1,245.00","1,268.65","1,242.65","1,235.90","1,262.95",27.05,2.19,2598785,"3,274,728,978.50","1,278.50",671.15,62.99,9.02
4,NTPC,155.50,159.80,154.95,155.60,159.00,3.40,2.19,5948094,"940,869,508.92",166.35,111.95,32.26,8.28